* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: monospace;
  background: #20364B ;
}

header {
  border: 2px whitesmoke;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 50xpx;
  text-align: center;
  font-size: 8rem;
  box-shadow: 0px 8px 8px rgba(14, 13, 13, 0.16);
  border: none;
  border-radius: 5px;
}

.container {
  background: #627C97;
  height: 500px;
  width: 700px;
  margin: auto;
  padding: auto;
  color: #223242;
  border-radius: 12px;
  box-shadow: 0px 6px 7px #DCE5EE;
  margin-top: 20px;
}

h2 {
  font-size: 3rem;
  color: #DCE5EE;
  text-align: center;
  
}

footer {
  background: #223242;
  height: 100px;
  width: 700px;
  margin: auto;
  padding: auto;
  margin-top: 10px;
  color: #223242;
  border-radius: 12px;
  box-shadow: 0px 6px 7px #DCE5EE;
}

h1 {
  font-size: 3rem;
  color: #DCE5EE;
  text-align: center;
  margin-top: auto;
  margin: auto;
  padding: auto;

}